.bg-main {
    background-color: #001970 !important;
}

.bg-complementary {
    background-color: #ffb300 !important;
}

.btn-bg-transparent {
    background: transparent;
    border: transparent;
}

.card td {
    word-break: break-all;
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}

body {
    background-color: #eeeeee;
}