<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!-- CARD with status -->
<div th:id="|table-car-${status.carId}|" th:fragment="statusFragment">

    <button th:if="${status.tools['Alarm']}" class="btn btn-success border-0 text-light w-100 mb-1"
            th:onclick="'javascript:deactivateTool(' + ${status.carId} + ',\'alarm\')'">Turn off alarm
    </button>
    <button th:unless="${status.tools['Alarm']}" class="btn bg-main border-0 text-light w-100 mb-1"
            th:onclick="'javascript:activateTool(' + ${status.carId} + ',\'alarm\')'">Turn on alarm
    </button>
    <button th:if="${status.tools['Tracker']}" class="btn btn-success border-0 text-light w-100 mb-1"
            th:onclick="'javascript:deactivateTool(' + ${status.carId} + ',\'tracker\')'">Turn off tracker
    </button>
    <button th:unless="${status.tools['Tracker']}" class="btn bg-main border-0 text-light w-100 mb-1"
            th:onclick="'javascript:activateTool(' + ${status.carId} + ',\'tracker\')'">Turn on tracker
    </button>

    <table>
        <tbody>
        <tr>
            <th scope="col">Battery</th>
            <td th:text="|${#numbers.formatInteger(status.battery * 100, 1)}%|"></td>
        </tr>
        <tr>
            <th scope="col">Charging</th>
            <td th:class="${status.isCharging() ? 'oi oi-circle-check text-success' : 'oi oi-circle-x text-danger'}"></td>
        </tr>
        <tr>
            <th scope="col">Power save mode</th>
            <td th:class="${status.powerSaveMode ? 'oi oi-circle-check text-success' : 'oi oi-circle-x text-danger'}"></td>
        </tr>
        <tr>
            <th scope="col">Date</th>
            <td th:text="${#dates.format(status.time, 'dd.MM.yyyy')}"></td>
        </tr>
        <tr>
            <th scope="col">Time</th>
            <td th:text="|${#dates.format(status.time, 'HH:mm:ss')} UTC|"></td>
        </tr>
        <tr>
            <th scope="col">Car ID</th>
            <td th:text="${status.carId}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>