<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: head(title='Cars')"></head>

<body onload="initCarModal()">

<nav th:replace="fragments/general.html :: navigation"></nav>

<div class="container">

    <div th:if="${#lists.isEmpty(cars)}" class="alert alert-secondary">
        You do not have a car. New car can be crated with plus button or in mobile application.
    </div>

    <!-- ERROR TOAST -->
    <div th:replace="fragments/general.html :: errorToast"></div>

    <!-- CARDS with cars -->
    <div class="card-columns">
        <div class="card border-dark shadow">
            <button
                    type="button"
                    title="Add car"
                    class="btn oi oi-plus my-2 w-100"
                    data-toggle="modal"
                    data-target="#carModal"
                    data-title="Create car"
                    data-show-delete="false">
            </button>
        </div>
        <div th:each="car, iStat : ${cars}" class="card border-dark shadow">
            <div class="card-header bg-complementary d-flex">
                <h5 class="text-dark w-80" th:text="${car.name}"></h5>
                <button type="button"
                        title="Edit car"
                        class="oi oi-pencil w-20 btn-bg-transparent"
                        data-toggle="modal"
                        data-target="#carModal"
                        th:data-name="${car.name}"
                        th:data-note="${car.note}"
                        th:data-car-id="${car.id}"
                        data-title="Car edit"
                        data-show-delete="true">
                </button>
            </div>
            <div class="m-2">
                <table class="table table-sm m-0">
                    <tbody>
                    <tr>
                        <th scope="col">ID</th>
                        <td th:text="${car.id}"></td>
                    </tr>
                    <tr>
                        <th scope="col"># of routes</th>
                        <td th:text="${car.routes}"></td>
                    </tr>
                    <tr>
                        <th scope="col"># of events</th>
                        <td th:text="${car.events}"></td>
                    </tr>
                    <tr>
                        <th scope="col">Note</th>
                        <td th:text="${car.note}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal container -->
<div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="car-modal-label">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="car-modal-form">
                    <input name="id" type="hidden" id="car-id">
                    <div class="form-group">
                        <label for="car-name" class="col-form-label">Name:</label>
                        <input name="name" type="text" class="form-control" id="car-name">
                    </div>
                    <div class="form-group">
                        <label for="car-note" class="col-form-label">Note:</label>
                        <input name="note" class="form-control" id="car-note">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete" type="button" class="btn btn-danger" data-dismiss="modal"
                        data-toggle="modal" data-target="#modal-delete">Delete Car
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="submitFormCar()">Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE CAR MODAL -->
<div th:replace="fragments/modal.html :: modalDelete(
                                           'Delete car',
                                           'Do you really want to delete this car and every routes and events with it?',
                                           ~{ :: #delete-button})">
    <button id="delete-button" type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteCar()">
        Delete
    </button>
</div>

</body>
</html>