<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/general.html :: head(title='Cars')"></head>

<body>

<nav th:replace="fragments/general.html :: navigation"></nav>

<div class="container">

    <div th:if="${#lists.isEmpty(cars)}" class="alert alert-secondary">
        You do not have a car. New car can be crated with plus button or in mobile application.
    </div>

    <!-- ERROR TOAST -->
    <div th:replace="fragments/general.html :: errorToast"></div>

    <!-- CARDS with cars -->
    <div class="card-columns">
        <div class="card border-dark shadow">
            <button
                    type="button"
                    title="Add car"
                    class="btn oi oi-plus my-2 w-100"
                    data-toggle="modal"
                    data-target="#carModal"
                    data-title="Create car"
                    data-show-delete="false">
            </button>
        </div>
        <div th:each="car, iStat : ${cars}" class="card border-dark shadow">
            <div class="card-header bg-complementary d-flex">
                <h5 class="text-dark w-80" th:text="${car.name}"></h5>
                <button type="button"
                        title="Edit car"
                        class="oi oi-pencil w-20 btn-bg-transparent"
                        data-toggle="modal"
                        data-target="#carModal"
                        th:data-name="${car.name}"
                        th:data-icon="${car.icon}"
                        th:data-car-id="${car.id}"
                        data-title="Car edit"
                        data-show-delete="true">
                </button>
            </div>
            <div class="m-2">
                <table class="table table-sm m-0">
                    <tbody>
                    <tr>
                        <th scope="col">ID</th>
                        <td th:text="${car.id}" align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col"># of routes</th>
                        <td th:text="${car.routes}" align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col"># of events</th>
                        <td th:text="${car.events}" align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Icon</th>
                        <td th:text="${car.icon}" align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal container -->
<div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-labelledby="carModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="car-modal-label">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="car-modal-form">
                    <!--<input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">-->
                    <input name="id" type="hidden" id="car-id">
                    <div class="form-group">
                        <label for="car-name" class="col-form-label">Name:</label>
                        <input name="name" type="text" class="form-control" id="car-name">
                    </div>
                    <div class="form-group">
                        <label for="car-icon" class="col-form-label">Icon:</label>
                        <input name="icon" class="form-control" id="car-icon">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete" type="button" class="btn btn-danger" data-dismiss="modal"
                        data-toggle="modal" data-target="#delete-car-modal">Delete Car</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="submitFormCar()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="delete-car-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this car and every routes and events with it?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteCar()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#carModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

        var modal = $(this);
        modal.find('#car-icon').val(button.data('icon'));
        modal.find('#car-name').val(button.data('name'));
        modal.find('#car-modal-label').text(button.data('title'));

        if (button.data('show-delete') === false) {
            modal.find('#btn-delete').hide();
            $('#car-id').val("");
        } else {
            var btnDelete = modal.find('#btn-delete');
            btnDelete.show();
            btnDelete.data('car-id', button.data('car-id'));
            $('#car-id').val(button.data('car-id'));
        }
    });

    function deleteCar() {
        var url = '/car';
        var carId = $('#btn-delete').data('car-id');
        var data = {car_id: carId };

        sendAjaxCar(url, 'DELETE', data);
    }

    function submitFormCar() {
        var url = '/car';
        var formData = $('#car-modal-form').serializeArray();
        var method = ($('#car-id').val() === '' ) ? 'POST' : 'PUT'

        sendAjaxCar(url, method, formData)
    }

    function sendAjaxCar(url, method, data){
        $.ajax({
            url: url,
            type: method,
            data: data
        })
            .done(function () {
                location.reload();
            })
            .fail(function (data) {
                $('#toast-body').text(data.responseJSON.error);
                $('.toast').toast('show');
            })
        ;
    }
</script>

</body>
</html>