<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/general.html :: head(title='Events')"></head>

<body onload="initEventModal()">

<nav th:replace="fragments/general.html :: navigation"></nav>

<div class="container">

    <div th:replace="fragments/filterHeader.html :: carsFilter(pageTitle='Events', baseUrl='event', cars=${cars} )"></div>

    <div th:if="${#lists.isEmpty(events)}" class="alert alert-secondary">
        No events to display.
    </div>

    <!-- ERROR TOAST -->
    <div th:replace="fragments/general.html :: errorToast"></div>

    <!-- CARDS with events -->
    <div id="cards-container" class="row justify-content-around px-3" th:insert="fragments/event.html :: events"></div>

    <div th:if="${not #lists.isEmpty(events)}" class="row justify-content-center mb-3">
        <button id="btn-load-next" type="button" title="load next data" class="btn btn-lg bg-main text-light"
                data-page="0"  th:dataUrl="${loadNextUrl}" th:onclick="javascript:loadNextPage(this.getAttribute('dataUrl'));">Load next</button>
    </div>
</div>

<!-- Update modal container -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="event-modal-form">
                    <input name="id" type="hidden" id="event-id">
                    <div class="form-group">
                        <label for="event-note" class="col-form-label">Note:</label>
                        <input name="note" type="text" class="form-control" id="event-note">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete" type="button" class="btn btn-danger" data-dismiss="modal"
                        data-toggle="modal" data-target="#modal-delete">Delete Event</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="submitFormEvent()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div ></div>

<!-- DELETE EVENT MODAL -->
<div th:replace="fragments/modal.html :: modalDelete('Delete event','Do you really want to delete this event?',~{ :: #delete-button})">
    <button id="delete-button" type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteEvent()">Delete</button>
</div>

</body>
</html>