<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/general.html :: head(title='Route')"></head>

<body>

<div th:insert="fragments/general.html :: navigation"></div>

<div class="container">
    <div class="card-columns">
        <div th:each="route, iStat : ${routes}" class="card border-dark shadow">
            <a class="bg-complementary text-dark d-block" th:href="@{/route/{id}(id=${route.id})}">
                <img th:src="@{/route/map(route_id=${route.id})}" class="card-img-top" th:alt="|Route #${route.id}|">
            </a>
            <div class="m-2">
                <table class="table table-sm m-0">
                    <tbody>
                    <tr>
                        <th scope="col">car</th>
                        <td th:text="${route.carName}" align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Date</th>
                        <td th:text="${#dates.format(route.timeEpochSeconds*1000, 'dd.MM.yyyy')}"  align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Time</th>
                        <td th:text="${#dates.format(route.timeEpochSeconds*1000, 'HH:mm:ss')}"  align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Length</th>
                        <td th:text="|${route.length} m|" align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Average speed</th>
                        <td th:text="|${#numbers.formatDecimal(route.avgSpeed*3.6, 0, 1)} km/h|" align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Travel time</th>
                        <td th:with="hours=${#numbers.formatInteger(route.secondsOfTravel/3600,0)},
                                    minutes=${#numbers.formatInteger((route.secondsOfTravel/60)%60,0)},
                                    seconds=${route.secondsOfTravel%60}"
                                th:text="|${hours}:${minutes}:${seconds}|"  align="center"></td>
                    </tr>
                    <tr>
                        <th scope="col">Note</th>
                        <td th:text="${route.note}" align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- PAGINATION -->
    <nav th:if="${numberOfPages gt 1}" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:each="i: ${#numbers.sequence(1,numberOfPages)}" th:class="${i==actualPage} ? 'active page-item' : 'page-item'">
                <span th:if="${i == actualPage}" class="page-link" th:content="|${i} <span class='sr-only'>(current)</span>|" th:text="${i}"></span>
                <a th:unless="${i == actualPage}" class="page-link" th:href="@{/route?page={pg}(pg=${i})}" th:text="${i}"></a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>