<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/general.html :: head(title='Route', scripts=~{ :: .scripts})"> </head>
    <script class="script" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script class="script" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script class="script" type="text/javascript" th:src="@{/js/route.js}"></script>
</head>

<body>

    <nav th:replace="fragments/general.html :: navigation"></nav>

    <div class="container">
        <!-- ERROR TOAST -->
        <div th:replace="fragments/general.html :: errorToast"></div>

        <div th:if="${not #lists.isEmpty(positions)}">
            <h2 class="mt-5">Map of route</h2>
            <div id='mapPanel' class="w-100" style='height: 80vh;'></div>

            <h2 class="mt-5">Car altitude</h2>
            <canvas id="altitudeChart"></canvas>

            <h2 class="mt-5">Car speed</h2>
            <canvas id="speedChart"></canvas>


            <script  th:inline="javascript">/*<![CDATA[*/setPositions([[${positions}]]);/*]]>*/</script>
            <!-- Reference to the Bing Maps SDK -->
            <script type='text/javascript'
                    th:src="@{https://www.bing.com/api/maps/mapcontrol(callback='getMap', key=${bingKey})}"
                    async defer></script>
        </div>

        <h2 class="mt-5">Other data</h2>
        <table class="table mb-0">
            <tbody>
            <tr>
                <th scope="col">car</th>
                <td th:text="${route.carName}" align="center"></td>
            </tr>
            <tr>
                <th scope="col">Date</th>
                <td th:text="${#dates.format(route.timeEpochSeconds*1000, 'dd.MM.yyyy')}"  align="center"></td>
            </tr>
            <tr>
                <th scope="col">Time</th>
                <td th:text="|${#dates.format(route.timeEpochSeconds*1000, 'HH:mm:ss')} UTC|"  align="center"></td>
            </tr>
            <tr>
                <th scope="col">Length</th>
                <td th:text="|${#numbers.formatDecimal(route.length/1000,1,2)} km|" align="center"></td>
            </tr>
            <tr>
                <th scope="col">Average speed</th>
                <td th:text="|${#numbers.formatDecimal(route.avgSpeed*3.6, 1, 1)} km/h|" align="center"></td>
            </tr>
            <tr>
                <th scope="col">Travel time</th>
                <td th:with="hours=${#numbers.formatInteger(route.secondsOfTravel/3600,1)},
                                    minutes=${#numbers.formatInteger((route.secondsOfTravel/60)%60,2)},
                                    seconds=${#numbers.formatInteger(route.secondsOfTravel%60,2)}"
                    th:text="|${hours}:${minutes}:${seconds}|"  align="center"></td>
            </tr>
            <tr>
                <th scope="col">Note</th>
                <td th:text="${route.note}" align="center"></td>
            </tr>
            </tbody>
        </table>

        <div class="my-3 justify-content-end d-flex">
            <a class="btn bg-main text-light mr-1" th:href="@{/route/export(route_id=${route.id})}" th:download="'track_' + ${route.id} + '.gpx'">
                download GPX
            </a>
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal-delete">
                Remove route
            </button>
        </div>
    </div>

    <!-- DELETE ROUTE MODAL -->
    <div th:replace="fragments/modal.html :: modalDelete('Delete route', 'Do you really want to delete this route?',~{ :: #delete-button})">
        <button id="delete-button" type="button" class="btn btn-danger" data-dismiss="modal"
                th:onclick="'javascript:deleteRoute(' + ${route.id} + ')'">
            Delete
        </button>
    </div>

</body>

</html>