<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/general.html :: head(title='Route')"></head>

<body onload="refreshStatusAll()">

<nav th:replace="fragments/general.html :: navigation"></nav>

<div class="container">

    <div th:if="${#lists.isEmpty(cars)}" class="alert alert-secondary">
        You do not have a car. New car can be crated on cars page.
    </div>

    <!-- ERROR TOAST -->
    <div th:replace="fragments/general.html :: errorToast"></div>

    <div class="card-columns">
        <div th:each="car, iStat : ${cars}"  class="card border-dark">
            <h5 class="card-header bg-complementary text-dark" th:text="${car.name}"></h5>
            <div class="card-body text-center" th:onload="'javascript:refreshStatus(' + ${car.id} + ')'">
                
                <button th:id="|btn-status-${car.id}|" class="btn bg-main border-0 text-light w-100 mb-1"
                        th:onclick="'javascript:refreshStatus(' + ${car.id} + ')'">Reload
                </button>

                <div th:id="|spinner-${car.id}|" class="spinner-border m-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <div th:id="|table-car-${car.id}|"></div>
            </div>
        </div>
    </div>
</div>

<script  th:inline="javascript">
    /*<![CDATA[*/
    function refreshStatusAll() {
        var cars = /*[[${cars}]]*/ [];
        cars.forEach( function (car){
            refreshStatus(car.id)
        });
    }
    /*]]>*/
</script>
</body>
</html>